@model IEnumerable<PasteBin.Models.Paste>

@{
    ViewData["Title"] = "Your Pastes";
}

<header>
    <h4>Pastes by @ViewData["Username"]</h4>

    <hr />
</header>

@foreach (var paste in Model)
{
    <div>
        <h2>@paste.Title</h2>
    </div>
}