@model IEnumerable<PasteBin.ViewModels.PasteViewModels.PasteViewModel>

@{
    ViewData["Title"] = "Your Pastes";
}

<header>
    <a asp-controller="Pastes" asp-action="Create">Create Paste!</a>
    <hr />
</header>

<ul class="list-group">
    @foreach (var paste in Model)
    {
        <li class="list-group-item">
            <span class="badge">@paste.Language</span>
            <a asp-controller="Pastes" asp-action="View" asp-route-id="@paste.Id">
                @paste.Title
            </a> by @paste.User
        </li>
    }
</ul>