@model PasteBin.Models.Paste

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <a asp-controller="Pastes" asp-action="Create" class="btn btn-success btn-lg">Create Paste!</a>
</div>