@model PasteBin.Models.Paste

@{
    ViewData["Title"] = "View";
}

<pre><code class="@(Model.Language?.Tag ?? "no-highlight")">
@Model.Content
</code></pre>

<span class="label label-primary">Language: @(Model.Language?.Name ?? "None")</span>