@model PasteBin.ViewModels.Pastes.PasteViewModel

@{
    ViewData["Title"] = "View";
}

<div class="callout">
    <h4>@Model.Title</h4>
    <span class="text-warning">~@string.Format("{0:0.00}", Model.Bytes)KB <strong>@Model.Language</strong></span>
    <p><time>@Model.Date</time></p>
   
</div>

<pre class="language-@Model.Tag"><code>@Model.Content</code></pre>