@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>PasteBin</h1>
    <p>PasteBin application created with ASP.NET Core MVC.</p>
    
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Pastes" asp-action="Create" class="btn btn-success btn-lg">
            Create Paste!
        </a>
    }
</div>